.masonry {
  column-count: 1;
  @include breakpoint_neutron(phablet) {
    column-count: 2;
  }
  @include breakpoint_neutron(tablet) {
    column-count: 3;
  }
  @include breakpoint_neutron(desktop) {
    column-count: 4;
  }
  column-gap: 1em;
}

