/**
 *  VARIABLES
 *
 *  Configure sierra SCSS library by adjusting this file
 *
 */
/**
 *  LAYOUT
 */
/**
 *  MEDIA QUERIES BREAKPOINTS
 */
/**
 *  BOOTSTRAP GRID SYSTEM CONFIG
 */
/**
 *  COMPONENTS
 */
/**
 * Library
 */
/**
 * MIXINS
 */
/**
 *  PLACEHOLDERS
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.tags ::after {
  clear: both;
  content: '';
  display: table; }

.full-width, .search_input {
  margin-left: -15px;
  margin-right: -15px;
  width: auto; }
  @media (min-width: 768px) {
    .full-width, .search_input {
      margin-left: -30px;
      margin-right: -30px; } }

/**
 * Reset
 */
html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

article,
aside,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

*, *:before, *:after {
  box-sizing: border-box; }

/**
 *  MAIN RULES
 */
*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none; }

body {
  background-color: #2c3e50;
  font-weight: normal;
  min-height: 100%;
  overflow-x: hidden;
  position: relative; }

p {
  font-weight: normal; }

img {
  max-width: 100%; }

strong {
  font-weight: 600; }

ul {
  margin-bottom: 1em; }

li {
  list-style: none;
  margin-bottom: .5em; }

pre {
  margin-bottom: 2em !important; }

/**
 *  BACKGROUND COLORS
 */
.background-primary {
  background-color: #1abc9c; }
.background-dark {
  background-color: #18232f; }
.background-secondary {
  background-color: #9b59b6; }
.background-white {
  background-color: #ffffff; }
.background-success {
  background-color: #4caf50; }
.background-info {
  background-color: #5bc0de; }
.background-warning {
  background-color: #f0ad4e; }
.background-error {
  background-color: #e74c3c; }
.background-gray {
  background-color: #dee6ea; }
.background-gray-light {
  background-color: #edf3f6; }
.background-rating1 {
  background-color: #dd2c00; }
.background-rating2 {
  background-color: #ff5722; }
.background-rating3 {
  background-color: #ff9800; }
.background-rating4 {
  background-color: #ffc107; }
.background-rating5 {
  background-color: #f5dc00; }
.background-rating6 {
  background-color: #cddc39; }
.background-rating7 {
  background-color: #8bc34a; }
.background-rating8 {
  background-color: #4caf50; }
.background-rating9 {
  background-color: #43a047; }
.background-rating10 {
  background-color: #388e3c; }

/**
 *  BADGES
 *
 *  Markup:
 *  -------
 *
 *  <ul class="badges-list">
 *    <li class="badges-list-item badge-primary">Badge 1</li>
 *    <li class="badges-list-item badge-secondary badge-lg">Badge 1</li>
 *  </ul>
 *
 */
.badges-list {
  margin-bottom: 20px; }

.badges-list-item {
  background-color: #34495e;
  border-radius: 3px;
  color: #ffffff;
  display: inline-block;
  line-height: 1.2em;
  padding: .2em .7em; }

.badge-rounded {
  border-radius: 50px; }

.badge-lg {
  font-size: 1.3em; }

.badge-xs {
  font-size: .7em; }

.badge-primary {
  background-color: #1abc9c; }
.badge-secondary {
  background-color: #9b59b6; }
.badge-dark {
  background-color: #18232f; }
.badge-light {
  background-color: #dee6ea; }
.badge-success {
  background-color: #4caf50; }
.badge-error {
  background-color: #e74c3c; }
.badge-warning {
  background-color: #f0ad4e; }

/**
 *  BUTTONS
 */
button {
  background-color: transparent;
  border: 0;
  cursor: pointer; }

.button, .button_classes, .back_content .button_back, .more_content .button_more {
  background-color: #64829f;
  border: 1px solid #2c3e50;
  border-radius: 2em;
  color: #ffffff;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5em;
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity .2s ease-in-out;
  white-space: nowrap; }
  .button:focus, .button_classes:focus, .back_content .button_back:focus, .more_content .button_more:focus, .button:hover, .button_classes:hover, .back_content .button_back:hover, .more_content .button_more:hover, .button:active, .button_classes:active, .back_content .button_back:active, .more_content .button_more:active {
    color: #ffffff; }
  .button:hover, .button_classes:hover, .back_content .button_back:hover, .more_content .button_more:hover {
    cursor: pointer;
    opacity: .8;
    text-decoration: none; }
  .button:active, .button_classes:active, .back_content .button_back:active, .more_content .button_more:active {
    opacity: 1; }
  .button:first-child, .button_classes:first-child, .back_content .button_back:first-child, .more_content .button_more:first-child {
    margin-left: 0; }
  .button:last-child, .button_classes:last-child, .back_content .button_back:last-child, .more_content .button_more:last-child {
    margin-right: 0; }
  .button.button-big, .button-big.button_classes, .back_content .button-big.button_back, .more_content .button-big.button_more {
    border-radius: 2em;
    font-size: 16px;
    line-height: 1.5em;
    padding: 10px 30px; }
    @media (min-width: 992px) {
      .button.button-big, .button-big.button_classes, .back_content .button-big.button_back, .more_content .button-big.button_more {
        padding: 10px 40px; } }
  .button.button-small, .button-small.button_classes, .back_content .button-small.button_back, .more_content .button-small.button_more {
    border-radius: 2em;
    font-size: 11px;
    line-height: 1.273em;
    padding: 6px 20px; }
  .button.button-huge, .button-huge.button_classes, .back_content .button-huge.button_back, .more_content .button-huge.button_more {
    border-radius: 2em;
    font-size: 16px;
    line-height: 1.5em;
    padding: 15px 30px; }
    @media (min-width: 992px) {
      .button.button-huge, .button-huge.button_classes, .back_content .button-huge.button_back, .more_content .button-huge.button_more {
        border-radius: 2em;
        font-size: 18px;
        line-height: 1.5em;
        padding: 18px 50px; } }
    .button.button-huge i, .button-huge.button_classes i, .back_content .button-huge.button_back i, .more_content .button-huge.button_more i {
      font-size: 20px; }
  .button.button-large, .button-large.button_classes, .back_content .button-large.button_back, .more_content .button-large.button_more {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    width: 100%; }
  .button.button-primary, .button_classes, .back_content .button_back, .more_content .button_more {
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
    color: #ffffff; }
    .button.button-primary:hover, .button_classes:hover, .back_content .button_back:hover, .more_content .button_more:hover {
      color: #ffffff; }
  .button.button-secondary, .button-secondary.button_classes, .back_content .button-secondary.button_back, .more_content .button-secondary.button_more {
    background-color: #9b59b6;
    border: 1px solid #9b59b6;
    color: #ffffff; }
    .button.button-secondary:hover, .button-secondary.button_classes:hover, .back_content .button-secondary.button_back:hover, .more_content .button-secondary.button_more:hover {
      color: #ffffff; }
  .button.button-transparent, .button-transparent.button_classes, .back_content .button-transparent.button_back, .more_content .button-transparent.button_more {
    background-color: transparent;
    border: 1px solid transparent; }
  .button.button-white, .button-white.button_classes, .back_content .button-white.button_back, .more_content .button-white.button_more {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #1abc9c; }
  .button.button-green, .button-green.button_classes, .back_content .button-green.button_back, .more_content .button-green.button_more {
    background-color: #4caf50;
    border-color: #4caf50;
    color: #ffffff; }
  .button.button-red, .button-red.button_classes, .back_content .button-red.button_back, .more_content .button-red.button_more {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #ffffff; }
  .button.button-outlined, .button-outlined.button_classes, .back_content .button-outlined.button_back, .more_content .button-outlined.button_more {
    background-color: transparent;
    border: 1px solid #1abc9c;
    color: #1abc9c; }
  .button.button-disabled, .button-disabled.button_classes, .back_content .button-disabled.button_back, .more_content .button-disabled.button_more {
    cursor: default;
    opacity: .4; }
  .button.button-only-icon, .button-only-icon.button_classes, .back_content .button-only-icon.button_back, .more_content .button-only-icon.button_more {
    height: 43px;
    line-height: 43px;
    padding: 0;
    width: 43px; }
    .button.button-only-icon i, .button-only-icon.button_classes i, .back_content .button-only-icon.button_back i, .more_content .button-only-icon.button_more i {
      margin-left: 0;
      margin-right: 0; }
  .button i, .button_classes i, .back_content .button_back i, .more_content .button_more i {
    margin-bottom: -2%;
    margin-left: .8em;
    margin-right: .8em;
    position: relative;
    transition: all .3s ease; }
    .button i:last-child, .button_classes i:last-child, .back_content .button_back i:last-child, .more_content .button_more i:last-child {
      margin-right: 0; }
    .button i:first-child, .button_classes i:first-child, .back_content .button_back i:first-child, .more_content .button_more i:first-child {
      margin-left: 0; }
    .button i::before, .button_classes i::before, .back_content .button_back i::before, .more_content .button_more i::before {
      float: left; }
    .button i.fa-lg, .button_classes i.fa-lg, .back_content .button_back i.fa-lg, .more_content .button_more i.fa-lg {
      margin-bottom: 0; }

.button-link {
  color: #1abc9c;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase; }
  .button-link i {
    font-size: 18px;
    line-height: 14px;
    margin-bottom: -2px;
    margin-left: 4px;
    margin-right: 8px;
    transition: all .3s ease; }
    .button-link i::before {
      float: left; }
  .button-link.button-link-rotated i {
    transform: rotate(-180deg); }

.button-group {
  white-space: nowrap; }
  .button-group .button, .button-group .button_classes, .button-group .back_content .button_back, .back_content .button-group .button_back, .button-group .more_content .button_more, .more_content .button-group .button_more {
    display: inline-block;
    margin: 0; }
    .button-group .button:not(:first-child), .button-group .button_classes:not(:first-child), .button-group .back_content .button_back:not(:first-child), .back_content .button-group .button_back:not(:first-child), .button-group .more_content .button_more:not(:first-child), .more_content .button-group .button_more:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0; }
    .button-group .button:not(:last-child), .button-group .button_classes:not(:last-child), .button-group .back_content .button_back:not(:last-child), .back_content .button-group .button_back:not(:last-child), .button-group .more_content .button_more:not(:last-child), .more_content .button-group .button_more:not(:last-child) {
      border-bottom-right-radius: 0;
      border-right: 0;
      border-top-right-radius: 0; }

/**
 *  FORMS
 */
input,
textarea {
  appearance: none; }

label {
  display: block;
  font-weight: normal; }

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #34495e inset; }

select {
  -moz-appearance: window;
  -webkit-appearance: none; }

select,
input[type=text],
textarea {
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.5em;
  transition: background-color .2s ease-in-out; }
  @media (min-width: 768px) {
    select,
    input[type=text],
    textarea {
      font-size: 15px; } }
  @media (min-width: 992px) {
    select,
    input[type=text],
    textarea {
      font-size: 15px; } }

.textarea,
.input,
.search_input,
.select {
  border: 0;
  border: 1px solid #465f78;
  border-radius: 3px;
  box-shadow: none;
  display: block;
  font-weight: normal;
  margin-bottom: 20px; }
  .textarea :focus,
  .input :focus,
  .search_input :focus,
  .select :focus {
    outline: none; }
  .textarea.error,
  .input.error,
  .error.search_input,
  .select.error {
    border: 1px solid #e74c3c;
    margin-bottom: 0; }
  .textarea.small,
  .input.small,
  .small.search_input,
  .select.small {
    font-size: 13px;
    padding: 4px 6px; }

.has-error .textarea,
.has-error .input,
.has-error .search_input,
.has-error .select {
  border: 1px solid #1abc9c; }

.has-error .control-label {
  color: #1abc9c; }

label.error {
  color: #e74c3c;
  font-size: 13px;
  line-height: 13px;
  position: absolute;
  right: 0;
  top: -16px; }

input[type=checkbox] {
  appearance: checkbox; }

input[type=radio] {
  appearance: radio; }

.select {
  background-color: #34495e;
  display: inline-block;
  margin-right: 10px;
  padding: 0;
  position: relative; }
  .select.full-width, .select.search_input {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    width: 100%; }
  .select:last-child {
    margin-right: 0; }
  .select .fa-angle-down {
    color: #969da6;
    font-size: 25px;
    height: 30px;
    margin-top: -12px;
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 1; }
  .select .icon-angle-down {
    color: #1abc9c;
    font-size: 1.2em;
    height: 30px;
    margin-top: -10px;
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 1; }
  .select select {
    appearance: none;
    background-color: transparent;
    border: 0;
    color: #ffffff;
    height: 44px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 30px;
    position: relative;
    width: 100%;
    z-index: 2; }
    @media (min-width: 768px) {
      .select select {
        padding: 8px 15px; } }
    .select select:active, .select select:focus {
      background-color: #3d566e;
      border: 0;
      outline: none; }
    .select select:active + i, .select select:focus + i {
      z-index: 2; }
    .select select option {
      background-color: #34495e;
      color: #ffffff;
      height: 30px; }
  .select.select-small {
    max-width: 150px; }
    .select.select-small select {
      font-size: 14px !important;
      height: 24px;
      line-height: 24px;
      padding: 0 5px;
      padding-right: 27px; }

select::-ms-expand {
  display: none; }

.select-link {
  border: 0;
  color: #1abc9c; }

.textarea {
  background-color: #34495e;
  padding: 0;
  width: 100%; }
  .textarea textarea {
    background: transparent;
    border: 0;
    color: #ffffff;
    display: block;
    font-family: "Lato", sans-serif;
    padding: 10px 15px;
    width: 100%; }
    .textarea textarea:focus, .textarea textarea:active {
      border: 0;
      outline: none;
      background-color: #3d566e; }

textarea {
  min-height: 120px; }

.form-button-wrap {
  text-align: center; }
  @media (min-width: 768px) {
    .form-button-wrap {
      text-align: right; } }

/**
 *  CHECKBOXES AND RADIO BUTTONS
 *
 *  Markup:
 *  -------
 *
 *  <div class="radio">
 *    <input id="hello" name="hello" type="radio" value=""/>
 *    <label for="hello" >option 1</label>
 *  </div>
 *
 *  <div class="checkbox">
 *    <input id="goodbye" name="goodbye" type="checkbox" value=""/>
 *    <label for="goodbye">option {{$i}}</label>
 *  </div>
 *
 */
.checkbox,
.radio {
  margin: 0;
  margin-bottom: 5px;
  margin-right: 20px;
  padding-left: 25px;
  position: relative; }

input[type=checkbox] + label,
input[type=radio] + label {
  display: block;
  overflow: hidden;
  padding-left: 5px;
  text-overflow: ellipsis;
  white-space: nowrap; }

input[type=checkbox] {
  display: none; }

input[type=radio] {
  display: none; }

input[type=checkbox] + label:after,
input[type=checkbox] + label:before,
input[type=radio] + label:after,
input[type=radio] + label:before {
  display: block;
  position: absolute;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  margin-top: -9px;
  top: 50%;
  width: 18px;
  left: 0; }

input[type=checkbox] + label:after,
input[type=radio] + label:after {
  background-color: #34495e;
  border: 1px solid #465f78;
  border-radius: 3px;
  content: ''; }

input[type=radio] + label:after {
  border-radius: 99px; }

input[type=checkbox] + label:before {
  content: "\f00c";
  font-family: FontAwesome;
  left: 2px;
  top: 11px;
  transform: scale(0);
  z-index: 1; }

input[type=radio] + label:before {
  background-color: #1abc9c;
  border-radius: 99px;
  content: '';
  display: block;
  height: 8px;
  left: 5px;
  margin-top: -4px;
  top: 50%;
  transform: scale(0);
  width: 8px;
  z-index: 1; }

input[type=checkbox]:checked + label,
input[type=radio]:checked + label {
  color: #1abc9c; }

input[type=checkbox]:checked + label:before,
input[type=radio]:checked + label:before {
  animation: radioAndCheckboxAnimation .25s;
  color: #1abc9c;
  transform: scale(1); }

@keyframes radioAndCheckboxAnimation {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }
.input, .search_input {
  background-color: #34495e;
  display: inline-block;
  margin-right: 10px;
  padding: 0;
  position: relative; }
  .input :focus, .search_input :focus,
  .input :active,
  .search_input :active {
    background-color: #3d566e; }
  .input.full-width, .search_input {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    width: 100%; }
  .input input, .search_input input {
    background: transparent;
    border: 0;
    box-shadow: none;
    color: #ffffff;
    height: 44px;
    line-height: 44px;
    margin-bottom: 0;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%; }
    @media (min-width: 768px) {
      .input input, .search_input input {
        padding: 8px 15px; } }

.input-with-icon {
  position: relative; }
  .input-with-icon input {
    padding-right: 42px; }
  .input-with-icon .input-icon {
    color: #969da6;
    margin-top: -6px;
    position: absolute;
    right: 12px;
    top: 50%; }
    .input-with-icon .input-icon.fa-search {
      color: #1abc9c;
      margin-top: -7px; }
  .input-with-icon button.input-icon {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0; }

.input-icon input {
  padding: 0;
  width: 0; }
.input-icon i {
  padding: 14px 15px 14px 12px; }

/**
 *  Input group
 *
 *  Markup:
 *  -------
 *
 *  <div class="input-group {{ $errors->first('email', 'has-error') }}">
 *     <div class="input full-width ">
 *         <input type="email" class="form-control" name="email" placeholder="email address" value="{{{ Input::old('email') }}}">
 *     </div>
 *     <span class="help-block">{{ $errors->first('email', ':message') }}</span>
 *  </div>
 *
 */
.input-group {
  margin-bottom: 20px; }
  .input-group .textarea,
  .input-group .input,
  .input-group .search_input,
  .input-group .select {
    margin-bottom: 0; }

/**
 *  FORM GROUP
 *
 *  Markup:
 *  -------
 *
 *  <div class="form-group">
 *    <div class="input form-group-item">
 *      <input type="text" name="" id="" placeholder="Search an app and start tracking...">
 *    </div>
 *    <div class="select form-group-item">
 *      <select class="class">
 *        <option value="asd">asd</option>
 *        <option value="asfdasd">asfdasd</option>
 *      </select>
 *      <i class="js-select-opener fa fa-angle-down fa-2"></i>
 *    </div>
 *  </div>
 */
.form-group {
  background-color: #34495e;
  border: 1px solid #465f78;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 20px; }
  .form-group .textarea,
  .form-group .input,
  .form-group .search_input,
  .form-group .select {
    margin-bottom: 0; }
  .form-group .form-group-item {
    border: 0;
    border-radius: 0;
    margin-right: 0; }
    .form-group .form-group-item:last-child {
      border-right: 0; }

.form-row {
  margin-left: -3px !important;
  margin-right: -3px !important; }

.form-row div[class^="col"] {
  padding-left: 3px;
  padding-right: 3px; }

/**
 *  FORM COLLAPSE (items in row without gap between them)
 *
 *  Markup:
 *  -------
 *
 *  <div class="form-collapse">
 *    <div class="input item item-main">
 *      <input id="name" placeholder="Klingon search" type="text" />
 *    </div>
 *    <div class="select item">
 *      <select name="country-code" id="country-code">
 *        <option value="AO"> Angola</option>
 *      </select>
 *      <i class="fa fa-angle-down fa-2"></i>
 *    </div>
 *    <button class="item button button-primary">
 *      Search
 *    </button>
 *  </div>
 **/
.form-collapse {
  display: flex;
  margin-bottom: 20px; }
  .form-collapse .item-main {
    flex: 1; }
  .form-collapse .item {
    border-radius: 0;
    font-size: 15px;
    margin: 0; }
    .form-collapse .item:first-child {
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px; }
    .form-collapse .item:last-child {
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px; }
    .form-collapse .item:not(:last-child) {
      border-right: 0; }

/**
 *  FLEX ALIGNMENTS
 */
.aligner {
  display: flex; }

.aligner-space-between {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.aligner-space-around {
  display: flex;
  justify-content: space-around;
  width: 100%; }

.aligner-center-vertical {
  align-items: center;
  display: flex; }

.aligner-center-horitzontal {
  display: flex;
  justify-content: center; }

.content-start {
  display: flex;
  justify-content: flex-start; }

.content-end {
  display: flex;
  justify-content: flex-end; }

.aligner-item-top {
  align-self: flex-start; }

.aligner-item-bottom {
  align-self: flex-end; }

.flex-grow {
  flex-grow: 1; }

/**
 *  ALIGNMENTS
 */
.fleft {
  float: left; }

.fright {
  float: right; }

.cf::before, .cf::after {
  content: '';
  display: table; }
.cf::after {
  clear: both; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.align-bottom {
  vertical-align: bottom; }

.align-middle {
  vertical-align: middle; }

.align-top {
  vertical-align: top; }

/**
 *  TEXT UTILITIES
 */
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.ellipsis-block {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block; }

.word-break {
  word-break: break-all; }

.text-indent {
  padding-left: 24px; }

/**
 *  MODIFIERS
 */
.bordered {
  border: 1px solid #465f78; }

.border-bottom {
  border-bottom: 1px solid #465f78; }

.border-left {
  border-left: 1px solid #465f78; }

.border-right {
  border-right: 1px solid #465f78; }

.border-top {
  border-top: 1px solid #465f78; }

.display-block {
  display: block; }

@media (max-width: 480px) {
  .block-mobile, .button_classes, .back_content .button_back, .more_content .button_more {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 100%; } }

.display-inline {
  display: inline; }

.hidden {
  display: none; }

.no-margin {
  margin: 0 !important; }

.no-wrap {
  white-space: nowrap; }

.overflow-hidden {
  overflow: hidden; }

.opacity-low {
  opacity: .5; }

.icon-rounded,
.rounded-corners {
  border-radius: 15%; }

.rounded {
  border-radius: 100%; }

/**
 *  VISIBILITY UTILITIES
 */
@media (min-width: 992px) {
  .hidden-large {
    display: none; } }
@media (min-width: 1280px) {
  .hidden-large {
    display: inline-block; } }

@media (min-width: 768px) {
  .hidden-medium {
    display: none; } }
@media (min-width: 992px) {
  .hidden-medium {
    display: inline-block; } }

@media (min-width: 768px) {
  .show-small {
    display: none; } }

.hide-small {
  display: none; }
  @media (min-width: 768px) {
    .hide-small {
      display: block; } }

.hide-small-inline-block {
  display: none !important; }
  @media (min-width: 768px) {
    .hide-small-inline-block {
      display: inline-block !important; } }

.hide-medium {
  display: block; }
  @media (min-width: 768px) {
    .hide-medium {
      display: none; } }
  @media (min-width: 992px) {
    .hide-medium {
      display: block; } }

/**
 *  BOOTSTRAP VISIBILITY UTILITIES
 *  Note: Deprecated .visible-xs, .visible-sm, .visible-md, and .visible-lg as of v3.2.0
 */
.visible-xs {
  display: none !important; }

.visible-sm {
  display: none !important; }

.visible-md {
  display: none !important; }

.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1279px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1279px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1279px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1279px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1280px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1280px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1280px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1280px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1279px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1280px) {
  .hidden-lg {
    display: none !important; } }
/**
 * LAYOUT
 */
.section {
  padding-bottom: 20px;
  padding-top: 20px; }
  .section::before, .section::after {
    content: '';
    display: table; }
  .section::after {
    clear: both; }
  @media (min-width: 768px) {
    .section {
      padding-bottom: 40px;
      padding-top: 40px; } }

.container {
  margin: 0 auto;
  max-width: 1380px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }
  @media (min-width: 768px) {
    .container {
      padding-left: 30px;
      padding-right: 30px; } }

.container-medium {
  margin: 0 auto;
  max-width: 944px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .container-medium {
      padding-left: 30px;
      padding-right: 30px; } }

.container-small {
  margin: 0 auto;
  max-width: 400px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .container-small {
      padding-left: 30px;
      padding-right: 30px; } }

.separator, .small_separator, .big_separator, .mosaic_big_separator, .thin_separator {
  border-bottom: 1px solid #465f78; }

.main-wrap {
  overflow: hidden;
  position: relative;
  transition: padding .25s ease-in-out; }
  @media (min-width: 1280px) {
    .main-wrap {
      padding-left: 250px; } }

.main-content {
  float: right;
  margin-left: 0;
  overflow: hidden;
  position: relative;
  width: 100%; }
  .main-content::before, .main-content::after {
    clear: none; }

/**
 *  LOADING BAR
 *
 *  Markup:
 *  ---------
 *  <div class="loading-bar"></div>
 *
 */
.loading-bar {
  height: 4px;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000; }

.loading-bar::before {
  animation: loading 2s linear infinite;
  background-color: #1abc9c;
  content: '';
  display: block;
  height: 4px;
  left: -200px;
  position: absolute;
  width: 200px; }

@keyframes loading {
  from {
    left: -200px;
    width: 30%; }
  50% {
    width: 30%; }
  70% {
    width: 70%; }
  80% {
    left: 50%; }
  95% {
    left: 120%; }
  to {
    left: 100%; } }
/**
 *  LOADING SPINNER
 *
 *  Markdown:
 *  ---------
 *  <div class='loading-spinner'>
 *    <span></span>
 *    <span></span>
 *    <span></span>
 *    <span></span>
 *  </div>
 *
 */
.loading-spinner {
  animation: rotateLoader 4s infinite;
  animation-timing-function: ease-in-out;
  display: block;
  height: 30px;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  position: fixed;
  top: 50%;
  width: 30px;
  z-index: 1000; }
  .loading-spinner span {
    animation-timing-function: ease-in-out;
    background-color: #ffffff;
    border-radius: 100%;
    display: block;
    height: 9px;
    position: absolute;
    width: 9px; }
    .loading-spinner span:nth-child(1) {
      animation: translateBall1 1s infinite;
      left: 0;
      top: 0;
      transform: translate3d(5px, 5px, 0); }
    .loading-spinner span:nth-child(2) {
      animation: translateBall2 1s infinite;
      right: 0;
      top: 0; }
    .loading-spinner span:nth-child(3) {
      animation: translateBall3 1s infinite;
      bottom: 0;
      right: 0; }
    .loading-spinner span:nth-child(4) {
      animation: translateBall4 1s infinite;
      bottom: 0;
      left: 0; }
  .loading-spinner.is-relative {
    display: inline-block;
    left: auto;
    margin: 0;
    position: relative;
    top: auto;
    z-index: 1; }

@keyframes rotateLoader {
  0% {
    transform: rotate(0); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes translateBall1 {
  0% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(4px, 4px, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
@keyframes translateBall2 {
  0% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(-4px, 4px, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
@keyframes translateBall3 {
  0% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(-4px, -4px, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
@keyframes translateBall4 {
  0% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(4px, -4px, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
/**
 *  MESSAGE BARS
 *
 *  Markup:
 *  -------
 *
 *  <div class="message-bar background-sucess">Success message</div>
 *  <div class="message-bar background-info">Success info</div>
 *  <div class="message-bar background-error">Success error</div>
 *  <div class="message-bar background-warning">Success warning</div>
 *
 */
.message-bar {
  border-radius: 3px;
  margin-bottom: 1em;
  padding: 1em; }
  .message-bar p:last-child {
    margin-bottom: 0; }

/**
 *  PAGINATOR
 *
 *  Markup:
 *  -------
 *
 *  <ul class="paginator-list">
 *    <li class="paginator-list-item">
 *      <a href="#" class="paginator-list-link">Prev</a>
 *    </li>
 *    <li class="paginator-list-item">
 *      <a href="#" class="paginator-list-link">1</a>
 *    </li>
 *    <li class="paginator-list-item">
 *      <a href="#" class="paginator-list-link active">2</a>
 *    </li>
 *    <li class="paginator-list-item">
 *      <a href="#" class="paginator-list-link">3</a>
 *    </li>
 *    <li class="paginator-list-item">
 *      <a href="#" class="paginator-list-link">Next</a>
 *    </li>
 *  </ul>
 */
.paginator-list .paginator-list-item {
  margin-right: 5px;
  padding: 0;
  display: inline-block; }
  .paginator-list .paginator-list-item:first-child i {
    margin-right: .5em; }
  .paginator-list .paginator-list-item:last-child i {
    margin-left: .5em; }
  .paginator-list .paginator-list-item .paginator-list-link {
    background-color: #34495e;
    border: 1px solid #2c3e50;
    border-radius: 3px;
    color: #ffffff;
    display: block;
    padding: .5em 1em;
    transition: background-color .2s ease-in-out; }
    .paginator-list .paginator-list-item .paginator-list-link:hover {
      background-color: #46637f; }
    .paginator-list .paginator-list-item .paginator-list-link.active {
      background-color: #1abc9c;
      color: #ffffff; }
.paginator-list.paginator-compact {
  display: flex; }
  .paginator-list.paginator-compact .paginator-list-item {
    margin-right: 0; }
    .paginator-list.paginator-compact .paginator-list-item:not(:last-child) {
      border-right: 1px solid #2c3e50; }
    .paginator-list.paginator-compact .paginator-list-item .paginator-list-link {
      border-radius: 0; }
    .paginator-list.paginator-compact .paginator-list-item:first-child .paginator-list-link {
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px; }
    .paginator-list.paginator-compact .paginator-list-item:last-child .paginator-list-link {
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px; }
.paginator-list.paginator-center {
  justify-content: center;
  text-align: center; }

/**
 *  RATING CIRCLE
 */
.rating-circle {
  background-color: #d7d7d7;
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100px; }
  @media (min-width: 768px) {
    .rating-circle {
      margin: 0;
      margin-left: 10px; } }
  @media (min-width: 992px) {
    .rating-circle {
      height: 130px;
      width: 130px; } }
  .rating-circle.rating-color-1 {
    color: #dd2c00; }
    .rating-circle.rating-color-1 .circle-fill {
      background-color: #dd2c00; }
  .rating-circle.rating-color-2 {
    color: #ff5722; }
    .rating-circle.rating-color-2 .circle-fill {
      background-color: #ff5722; }
  .rating-circle.rating-color-3 {
    color: #ff9800; }
    .rating-circle.rating-color-3 .circle-fill {
      background-color: #ff9800; }
  .rating-circle.rating-color-4 {
    color: #ffc107; }
    .rating-circle.rating-color-4 .circle-fill {
      background-color: #ffc107; }
  .rating-circle.rating-color-5 {
    color: #f5dc00; }
    .rating-circle.rating-color-5 .circle-fill {
      background-color: #f5dc00; }
  .rating-circle.rating-color-6 {
    color: #cddc39; }
    .rating-circle.rating-color-6 .circle-fill {
      background-color: #cddc39; }
  .rating-circle.rating-color-7 {
    color: #8bc34a; }
    .rating-circle.rating-color-7 .circle-fill {
      background-color: #8bc34a; }
  .rating-circle.rating-color-8 {
    color: #4caf50; }
    .rating-circle.rating-color-8 .circle-fill {
      background-color: #4caf50; }
  .rating-circle.rating-color-9 {
    color: #43a047; }
    .rating-circle.rating-color-9 .circle-fill {
      background-color: #43a047; }
  .rating-circle.rating-color-10 {
    color: #388e3c; }
    .rating-circle.rating-color-10 .circle-fill {
      background-color: #388e3c; }
  .rating-circle .circle .circle-mask,
  .rating-circle .circle .circle-fill {
    border-radius: 50%;
    height: 100px;
    position: absolute;
    transition: all 1s;
    width: 100px; }
    @media (min-width: 992px) {
      .rating-circle .circle .circle-mask,
      .rating-circle .circle .circle-fill {
        height: 130px;
        width: 130px; } }
  .rating-circle .circle .circle-mask,
  .rating-circle .circle .circle-fill {
    backface-visibility: hidden; }
    .rating-circle .circle .circle-mask.reanimate,
    .rating-circle .circle .circle-fill.reanimate {
      transition: transform 0s; }
    .rating-circle .circle .circle-mask.reset,
    .rating-circle .circle .circle-fill.reset {
      transform: rotate(0deg) !important; }
  .rating-circle .circle .circle-mask {
    clip: rect(0, 100px, 100px, 50px);
    overflow: hidden; }
    @media (min-width: 992px) {
      .rating-circle .circle .circle-mask {
        clip: rect(0, 130px, 130px, 65px); } }
    .rating-circle .circle .circle-mask .circle-fill {
      clip: rect(0, 50px, 100px, 0); }
      @media (min-width: 992px) {
        .rating-circle .circle .circle-mask .circle-fill {
          clip: rect(0, 65px, 130px, 0); } }
  .rating-circle .circle-inset {
    background-color: #34495e;
    border-radius: 50%;
    height: 94px;
    left: 50%;
    margin-left: -47px;
    margin-top: -47px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 94px; }
    @media (min-width: 992px) {
      .rating-circle .circle-inset {
        height: 124px;
        line-height: 124px;
        margin-left: -62px;
        margin-top: -62px;
        width: 124px; } }
    .rating-circle .circle-inset .circle-rating-number {
      font-size: 36px;
      font-weight: normal;
      line-height: 94px; }
      @media (min-width: 992px) {
        .rating-circle .circle-inset .circle-rating-number {
          font-size: 50px;
          line-height: 124px; } }

.rating-circle.circle-small {
  width: 80px;
  height: 80px; }
  .rating-circle.circle-small .circle .circle-mask,
  .rating-circle.circle-small .circle .circle-fill {
    height: 80px;
    width: 80px; }
  .rating-circle.circle-small .circle-mask {
    clip: rect(0, 80px, 80px, 40px); }
    .rating-circle.circle-small .circle-mask .circle-fill {
      clip: rect(0, 40px, 80px, 0); }
  .rating-circle.circle-small .circle-inset {
    border-radius: 50%;
    height: 74px;
    left: 50%;
    margin-left: -37px;
    margin-top: -37px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 74px; }
    .rating-circle.circle-small .circle-inset .circle-rating-number {
      font-size: 24px;
      font-weight: 400;
      left: 0;
      line-height: 74px;
      margin: 0 !important;
      position: absolute;
      top: 0;
      width: 74px; }

.rating-color-1 .circle-fill,
.rating-color-1 .circle-full {
  transform: rotate(18deg); }

.rating-color-2 .circle-fill,
.rating-color-2 .circle-full {
  transform: rotate(36deg); }

.rating-color-3 .circle-fill,
.rating-color-3 .circle-full {
  transform: rotate(54deg); }

.rating-color-4 .circle-fill,
.rating-color-4 .circle-full {
  transform: rotate(72deg); }

.rating-color-5 .circle-fill,
.rating-color-5 .circle-full {
  transform: rotate(90deg); }

.rating-color-6 .circle-fill,
.rating-color-6 .circle-full {
  transform: rotate(108deg); }

.rating-color-7 .circle-fill,
.rating-color-7 .circle-full {
  transform: rotate(126deg); }

.rating-color-8 .circle-fill,
.rating-color-8 .circle-full {
  transform: rotate(144deg); }

.rating-color-9 .circle-fill,
.rating-color-9 .circle-full {
  transform: rotate(162deg); }

.rating-color-10 .circle-fill,
.rating-color-10 .circle-full {
  transform: rotate(180deg); }

/**
 *  TABLES
 */
.table {
  background-color: #34495e;
  border: 1px solid #465f78;
  border-collapse: collapse;
  border-radius: 3px;
  color: #ffffff;
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%; }
  .table th,
  .table td {
    border-bottom: 1px solid #465f78;
    padding: 10px; }
    @media (min-width: 992px) {
      .table th,
      .table td {
        padding: 10px 20px; } }
  .table td {
    padding: 14px;
    position: relative; }
  .table tr {
    border-bottom: 1px solid #465f78; }
  .table thead {
    border-bottom: 1px solid #465f78; }
  .table th {
    background-color: #2c3e50;
    color: #969da6;
    font-weight: normal;
    padding: 5px 14px;
    white-space: nowrap; }

.table-vertical-center td {
  vertical-align: middle; }

/**
 *  TABLE RESPONSIVE
 *
 *  Markup:
 *  -------
 *
 *  <table class="table-responsive table-break-small">
 *    <tr>
 *      <th>First column</th>
 *      <th>Second column</th>
 *      <th>Third column</th>
 *    </tr>
 *    <tr>
 *      <td data-th="First column">Blue</td>
 *      <td data-th="Second column">One</td>
 *      <td data-th="Third column">My life fades</td>
 *    </tr>
 *    <tr>
 *      <td data-th="First column">Green</td>
 *      <td data-th="Second column">Two</td>
 *      <td data-th="Third column">when the world was powered by the black fuel... and the desert sprouted great cities of pipe and steel. </td>
 *    </tr>
 *    <tr>
 *      <td data-th="First column">Yellow</td>
 *      <td data-th="Second column">Three</td>
 *      <td data-th="Third column">A whirlwind of looting, a firestorm of fear. Men began to feed on men. </td>
 *    </tr>
 *  </table>
 *
 */
.table-responsive th {
  display: none; }
.table-responsive td {
  display: block; }
  .table-responsive td:first-child {
    border-top: 1px solid #465f78;
    padding-top: 14px; }
  .table-responsive td:last-child {
    padding-bottom: 14px; }
  .table-responsive td::before {
    content: attr(data-th) ": ";
    display: block;
    font-weight: normal; }
.table-responsive th,
.table-responsive td {
  text-align: left; }
.table-responsive.table-break-medium tr {
  border-top: 1px solid #465f78; }
@media (max-width: 768px) {
  .table-responsive.table-break-medium td {
    border: 0;
    padding-bottom: 0; } }
@media (min-width: 768px) {
  .table-responsive.table-break-medium td::before {
    display: none; } }
.table-responsive.table-break-medium td:last-child {
  padding-bottom: 14px; }
@media (min-width: 768px) {
  .table-responsive.table-break-medium th,
  .table-responsive.table-break-medium td {
    display: table-cell; } }
.table-responsive.table-break-small tr {
  border-top: 1px solid #465f78; }
@media (max-width: 480px) {
  .table-responsive.table-break-small td {
    border: 0;
    padding-bottom: 0; } }
@media (min-width: 480px) {
  .table-responsive.table-break-small td::before {
    display: none; } }
.table-responsive.table-break-small td:last-child {
  padding-bottom: 14px; }
@media (min-width: 480px) {
  .table-responsive.table-break-small th,
  .table-responsive.table-break-small td {
    display: table-cell; } }

/**
 *  TABS
 *
 *  Markup:
 *  -------
 *
 *  <div class="c-tabs">
 *    <a href="link" title="#" data-targetclass="js-tab1" class="c-tab js-tab">[...]</a>
 *    <a href="link" title="#" data-targetclass="js-tab2" class="c-tab js-tab active">[...]</a>
 *  </div>
 *  <div class="js-tab1 c-tab-content">
 *    [...]
 *  </div>
 *  <div class="js-tab2 c-tab-content selected">
 *    [...]
 *  </div>
 *
 */
.tabs {
  border-bottom: 1px solid #465f78;
  margin-bottom: 30px;
  text-align: center; }
  .tabs .tab {
    border-bottom: 3px solid transparent;
    color: #969da6;
    display: inline-block;
    line-height: 50px;
    margin: 0;
    margin-right: 30px;
    min-width: 70px;
    position: relative; }
    .tabs .tab:hover {
      color: #1abc9c;
      text-decoration: none; }
    .tabs .tab.active {
      border-bottom: 3px solid #1abc9c;
      color: #1abc9c; }

.tab-content {
  display: none; }
  .tab-content.selected {
    display: block; }

/**
 *  TAGS
 *
 *  Markup:
 *  -------
 *
 *  <ul class="tags">
 *    <li>
 *        <a href="#" class="tag"> fantasy</a>
 *    </li>
 *    <li>
 *        <a href="#" class="tag"> fiction </a>
 *    </li>
 *    <li>
 *        <a href="#" class="tag"> contemporary </a>
 *    </li>
 *  </ul>
 *
 */
.tags {
  margin-bottom: 20px; }
  .tags:last-child {
    margin-bottom: 0; }
  .tags li {
    display: inline-block;
    margin: 0 25px 10px 0; }
  .tags .tag {
    background-color: #34495e;
    border-radius: 3px 0 0 3px;
    color: #ffffff;
    display: inline-block;
    float: left;
    line-height: 34px;
    padding: 0 10px;
    position: relative; }
    .tags .tag::before {
      border-bottom: 17px solid transparent;
      border-left: 10px solid #34495e;
      border-top: 17px solid transparent;
      content: '';
      height: 0;
      position: absolute;
      right: -10px;
      top: 0;
      width: 0; }
    .tags .tag::after {
      background: #2c3e50;
      border-radius: 6px;
      content: '';
      float: left;
      height: 5px;
      position: absolute;
      right: -3px;
      top: 14px;
      width: 5px; }
  .tags a.tag {
    color: #ffffff;
    display: inline-block;
    text-decoration: none; }
    .tags a.tag:hover {
      background-color: #46637f;
      text-decoration: none; }
      .tags a.tag:hover::before {
        border-left: 10px solid #46637f; }

/**
 *  TYPOGRAPHY
 */
body {
  font: 400 14px/1.5em "Lato", sans-serif;
  color: #ffffff; }
  @media (min-width: 768px) {
    body {
      font-size: 15px; } }
  @media (min-width: 992px) {
    body {
      font-size: 15px; } }

img {
  font-size: 12px;
  line-height: 1.3em; }

p {
  line-height: 1.5em;
  margin-bottom: 1.5em; }

a {
  color: #1abc9c;
  text-decoration: none; }
  a:hover {
    color: rgba(26, 188, 156, 0.8); }
  a:focus {
    color: #1abc9c; }

.text-huge, .text-big, .text-medium {
  line-height: 1.3em;
  margin-bottom: 1em;
  margin-top: 1.5em; }
  .text-huge:first-child, .text-big:first-child, .text-medium:first-child {
    margin-top: .5em; }
.text-huge {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-transform: none; }
  @media (min-width: 992px) {
    .text-huge {
      font-size: 40px; } }
  @media (min-width: 1280px) {
    .text-huge {
      font-size: 48px; } }
.text-big {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-transform: none; }
  @media (min-width: 992px) {
    .text-big {
      font-size: 28px; } }
.text-medium {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: none; }
.text-small, label.label {
  font-size: 12px; }
  @media (min-width: 768px) {
    .text-small, label.label {
      font-size: 14px; } }
.text-body {
  font-size: 14px;
  line-height: 1.5em; }
  @media (min-width: 992px) {
    .text-body {
      font-size: 15px; } }
.text-primary {
  color: #1abc9c; }
.text-dark {
  color: #18232f; }
.text-secondary {
  color: #9b59b6; }
.text-white {
  color: #ffffff; }
.text-success {
  color: #4caf50; }
.text-info {
  color: #5bc0de; }
.text-warning {
  color: #f0ad4e; }
.text-error {
  color: #e74c3c; }
.text-gray, label.label, .table-responsive td::before {
  color: #dee6ea; }
.text-gray-light {
  color: #edf3f6; }
.text-rating1 {
  color: #dd2c00; }
.text-rating2 {
  color: #ff5722; }
.text-rating3 {
  color: #ff9800; }
.text-rating4 {
  color: #ffc107; }
.text-rating5 {
  color: #f5dc00; }
.text-rating6 {
  color: #cddc39; }
.text-rating7 {
  color: #8bc34a; }
.text-rating8 {
  color: #4caf50; }
.text-rating9 {
  color: #43a047; }
.text-rating10 {
  color: #388e3c; }
.text-white {
  color: #ffffff; }

.text-gray, label.label, .table-responsive td::before,
a.text-gray,
button.text-gray {
  color: #969da6; }

.text-light {
  font-weight: 300; }

.text-normal {
  font-weight: 400; }

.text-line-through {
  text-decoration: line-through; }

.text-italic {
  font-style: italic; }

.text-uppercase {
  text-transform: uppercase; }

.text-transform-none {
  text-transform: none; }

.text-center {
  text-align: center; }

.text-lato {
  font-family: 'Lato', sans-serif; }

.text-with-subtitle {
  margin-bottom: 0 !important; }
  .text-with-subtitle + .text-huge,
  .text-with-subtitle + .text-big,
  .text-with-subtitle + .text-medium,
  .text-with-subtitle + .text-small,
  .text-with-subtitle + label.label {
    margin-top: .5em; }

h1,
h2,
h3,
h4 {
  font-weight: 300; }

/**
 *  Grid system
 */
.container {
  margin-right: auto;
  margin-left: auto; }
  .container::before, .container::after {
    content: '';
    display: table; }
  .container::after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: auto; } }
  @media (min-width: 992px) {
    .container {
      width: auto; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto; }
  .container-fluid::before, .container-fluid::after {
    content: '';
    display: table; }
  .container-fluid::after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row::before, .row::after {
    content: '';
    display: table; }
  .row::after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.3333333333%; }

.col-xs-2 {
  width: 16.6666666667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.3333333333%; }

.col-xs-5 {
  width: 41.6666666667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.3333333333%; }

.col-xs-8 {
  width: 66.6666666667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.3333333333%; }

.col-xs-11 {
  width: 91.6666666667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.3333333333%; }

.col-xs-pull-2 {
  right: 16.6666666667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.3333333333%; }

.col-xs-pull-5 {
  right: 41.6666666667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.3333333333%; }

.col-xs-pull-8 {
  right: 66.6666666667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.3333333333%; }

.col-xs-pull-11 {
  right: 91.6666666667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.3333333333%; }

.col-xs-push-2 {
  left: 16.6666666667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.3333333333%; }

.col-xs-push-5 {
  left: 41.6666666667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.3333333333%; }

.col-xs-push-8 {
  left: 66.6666666667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.3333333333%; }

.col-xs-push-11 {
  left: 91.6666666667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.3333333333%; }

.col-xs-offset-2 {
  margin-left: 16.6666666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.3333333333%; }

.col-xs-offset-5 {
  margin-left: 41.6666666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.3333333333%; }

.col-xs-offset-8 {
  margin-left: 66.6666666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.3333333333%; }

.col-xs-offset-11 {
  margin-left: 91.6666666667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.3333333333%; }

  .col-sm-2 {
    width: 16.6666666667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.3333333333%; }

  .col-sm-5 {
    width: 41.6666666667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.3333333333%; }

  .col-sm-8 {
    width: 66.6666666667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.3333333333%; }

  .col-sm-11 {
    width: 91.6666666667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.3333333333%; }

  .col-sm-pull-2 {
    right: 16.6666666667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.3333333333%; }

  .col-sm-pull-5 {
    right: 41.6666666667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.3333333333%; }

  .col-sm-pull-8 {
    right: 66.6666666667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.3333333333%; }

  .col-sm-pull-11 {
    right: 91.6666666667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.3333333333%; }

  .col-sm-push-2 {
    left: 16.6666666667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.3333333333%; }

  .col-sm-push-5 {
    left: 41.6666666667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.3333333333%; }

  .col-sm-push-8 {
    left: 66.6666666667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.3333333333%; }

  .col-sm-push-11 {
    left: 91.6666666667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%; }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.3333333333%; }

  .col-md-2 {
    width: 16.6666666667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.3333333333%; }

  .col-md-5 {
    width: 41.6666666667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.3333333333%; }

  .col-md-8 {
    width: 66.6666666667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.3333333333%; }

  .col-md-11 {
    width: 91.6666666667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.3333333333%; }

  .col-md-pull-2 {
    right: 16.6666666667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.3333333333%; }

  .col-md-pull-5 {
    right: 41.6666666667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.3333333333%; }

  .col-md-pull-8 {
    right: 66.6666666667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.3333333333%; }

  .col-md-pull-11 {
    right: 91.6666666667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.3333333333%; }

  .col-md-push-2 {
    left: 16.6666666667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.3333333333%; }

  .col-md-push-5 {
    left: 41.6666666667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.3333333333%; }

  .col-md-push-8 {
    left: 66.6666666667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.3333333333%; }

  .col-md-push-11 {
    left: 91.6666666667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.3333333333%; }

  .col-md-offset-2 {
    margin-left: 16.6666666667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.3333333333%; }

  .col-md-offset-5 {
    margin-left: 41.6666666667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.3333333333%; }

  .col-md-offset-8 {
    margin-left: 66.6666666667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.3333333333%; }

  .col-md-offset-11 {
    margin-left: 91.6666666667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1280px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.3333333333%; }

  .col-lg-2 {
    width: 16.6666666667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.3333333333%; }

  .col-lg-5 {
    width: 41.6666666667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.3333333333%; }

  .col-lg-8 {
    width: 66.6666666667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.3333333333%; }

  .col-lg-11 {
    width: 91.6666666667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.3333333333%; }

  .col-lg-pull-2 {
    right: 16.6666666667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.3333333333%; }

  .col-lg-pull-5 {
    right: 41.6666666667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.3333333333%; }

  .col-lg-pull-8 {
    right: 66.6666666667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.3333333333%; }

  .col-lg-pull-11 {
    right: 91.6666666667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.3333333333%; }

  .col-lg-push-2 {
    left: 16.6666666667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.3333333333%; }

  .col-lg-push-5 {
    left: 41.6666666667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.3333333333%; }

  .col-lg-push-8 {
    left: 66.6666666667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.3333333333%; }

  .col-lg-push-11 {
    left: 91.6666666667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%; }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%; }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%; }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%; }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
/*---------------------------------
           NeutronCSS
---------------------------------*/
html {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html * {
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

/*--------- End of NeutronCSS ---------*/
/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: codeLight;
  src: url(./assets/fonts/CODE_Light.otf); }
@font-face {
  font-family: codeBold;
  src: url(./assets/fonts/CODE_Bold.otf); }
@font-face {
  font-family: overpassLight;
  src: url(./assets/fonts/overpass/overpass-light.otf); }
html, body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: #2B2B2B; }
  html:after, body:after {
    content: "";
    display: table;
    clear: both; }
  html > *:nth-child(1n+1), body > *:nth-child(1n+1) {
    width: calc(100%);
    float: left;
    clear: left;
    margin-left: 0;
    margin-right: 0; }

.content_site {
  margin-top: 32px; }

.separator, .small_separator, .big_separator, .mosaic_big_separator, .thin_separator {
  display: block;
  height: 3px;
  background-color: white;
  margin: 24px auto 32px; }

.small_separator {
  width: 25%; }

.big_separator, .mosaic_big_separator {
  width: 50%; }

.thin_separator {
  height: 1px;
  margin: 8px 0;
  width: 75%; }

.scalling_element, .categorie_series .categorie_series_bloc:hover, .detailTrigger img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transform-origin: 50% 50%; }

.masonry {
  column-count: 1;
  column-gap: 1em; }
  @media (min-width: 480px) and (max-width: 767px) {
    .masonry {
      column-count: 2; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .masonry {
      column-count: 3; } }
  @media (min-width: 1024px) {
    .masonry {
      column-count: 4; } }

.title_component_template, .mosaic_series_title, .categorie_series_title {
  font-family: codeBold;
  color: white;
  font-size: 32px;
  margin: 24px 0 0 16px; }

.head_site {
  font-family: codeLight;
  color: white;
  text-align: right;
  margin-right: 32px; }
  .head_site h3 {
    font-size: 46px; }
    .head_site h3:after {
      background-size: 64px 64px;
      display: inline-block;
      width: 64px;
      height: 64px;
      content: "";
      position: relative;
      top: 16px;
      left: 16px; }

nav {
  font-family: codeBold;
  color: white;
  text-align: right;
  padding-right: 16px;
  height: 100%; }
  nav a {
    color: white;
    display: list-item;
    list-style-type: none;
    padding-top: 8px;
    padding-right: 8px;
    font-size: 20px;
    margin-left: 32px; }
    nav a.active {
      color: #1abc9c;
      border-right: 5px solid #1abc9c;
      padding-right: 5px; }

.mosaic_content {
  line-height: 0;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  overflow: visible; }
  .mosaic_content .mosaic_series .mosaic_series_bloc .detailTrigger:hover {
    z-index: 20; }
  .mosaic_content img {
    width: 100%;
    height: auto; }

.mosaic_big_separator {
  margin: 16px 0 16px 8px; }

.categorie_series {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 8px; }
  .categorie_series:after {
    content: "";
    display: table;
    clear: both; }
  .categorie_series > *:nth-child(4n+1) {
    width: calc(25%);
    float: left;
    clear: left;
    margin-left: 0; }
  .categorie_series > *:nth-child(4n+2) {
    width: calc(25%);
    float: left;
    clear: none; }
  .categorie_series > *:nth-child(4n+3) {
    width: calc(25%);
    float: left;
    clear: none; }
  .categorie_series > *:nth-child(4n+4) {
    width: calc(25%);
    float: left;
    clear: none;
    margin-right: 0; }
  .categorie_series .categorie_series_bloc {
    padding: 8px;
    margin-top: 16px; }
    .categorie_series .categorie_series_bloc a img {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .categorie_series .categorie_series_bloc a img:after {
        content: "";
        display: table;
        clear: both; }
      .categorie_series .categorie_series_bloc a img > *:nth-child(1n+1) {
        width: calc(100%);
        float: left;
        clear: left;
        margin-left: 0;
        margin-right: 0; }
    .categorie_series .categorie_series_bloc h3 {
      font-family: codeBold;
      font-size: 24px;
      color: white;
      text-align: left;
      margin-top: 16px; }
    .categorie_series .categorie_series_bloc span {
      font-family: overpassLight;
      font-size: 12px;
      color: white;
      text-align: justify; }

.detailTrigger {
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-appearance: none;
  padding: 0; }

.modal {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 50; }

.modal_box {
  padding: 1em;
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0.9, 0.3, 1.5);
  transition: all 0.3s cubic-bezier(0.2, 0.9, 0.3, 1.5);
  -webkit-transform: rotate(5deg) translate(-1em, 1em);
  transform: rotate(5deg) translate(-1em, 1em);
  border-top: 5px solid #da513d;
  border-bottom: 5px solid #ddd; }

/* modal magic */
.detailTrigger:focus + .modal {
  opacity: 1;
  visibility: visible; }

.detailTrigger:focus + .modal .modal_box {
  -webkit-transform: rotate(0deg) translate(0, 0);
  transform: rotate(0deg) translate(0, 0); }

.button_classes, .back_content .button_back, .more_content .button_more {
  bottom: 16px;
  width: auto; }

.back_content .button_back {
  position: fixed;
  right: 32px; }

.more_content {
  margin-bottom: 8px;
  margin-left: 32px; }
  .more_content .button_more {
    left: 32px; }

.search_input {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  width: calc(100% - 32px); }

.form_search {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  width: calc(100% - 32px); }
  @media (max-width: 479px) {
    .form_search {
      display: inline-grid; } }
  .form_search .button, .form_search .button_classes, .form_search .back_content .button_back, .back_content .form_search .button_back, .form_search .more_content .button_more, .more_content .form_search .button_more {
    width: 20%; }
    @media (max-width: 479px) {
      .form_search .button, .form_search .button_classes, .form_search .back_content .button_back, .back_content .form_search .button_back, .form_search .more_content .button_more, .more_content .form_search .button_more {
        width: 100%;
        margin-top: 8px; } }
  @media (max-width: 479px) {
    .form_search .item {
      width: 100%; } }

/*# sourceMappingURL=styles.css.map */
